<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Profiles</title>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/profiles.css">
</head>
<body>
  <main>
    <section id="user-controls">
      <a class="btn" href="/new-user">Add a New User</a>
    </section>
    <section id="user-profiles">
      <ul>
        <% for (var user of users) { %>
          <li class="user-item">
            <article>
              <img src="<%= user.imagePath %>" alt="The image of the user.">
              <h2><%= user.name %></h2>
            </article>
          </li>
        <% } %>
      </ul>
    </section>
  </main>
</body>
</html>